<footer>

  <div class="custom-shape-divider-top-1686091868">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="container">

    <div class="lists-container" data-aos="fade-up">

      <div>
        <span class="list-title">Contact</span>
        <ul class="list-contact">
          <li>
            <div class="list-contact-item">
              <i class="fa-solid fa-location-dot"></i>
              <span class="list-contact-text">Canada</span>
            </div>
          </li>

          <li>
            <div class="list-contact-item">
              <i class="fa-solid fa-envelope"></i>
              <span><a href="mailto:webmaster@example.com">sam.moisan@gmail.com</a></span>
            </div>
          </li>

          <li>
            <div class="list-contact-item">
              <i class="fa-solid fa-mobile"></i>
              <span>581-980-9855</span>
            </div>
          </li>

        </ul>
      </div>

      <div class="list-spacer"></div>

      <div>
        <span class="list-title">Social</span>
        <ul class="list-social">
          <li><a href="https://github.com/sammoisan"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>

    </div>

    <div class="author-container">
      <span class="author">Designed and developed by Samuel Moisan</span>
      <span class="technologies">Built with Angular and Bootstrap.</span>
    </div>
  </div>

</footer>