<section class="section-expertise" id="expertise">
  <div class="container">
    <h1 class="section-title" data-aos="fade-up">My expertise</h1>

    <p data-aos="fade-up">
      Here is an overview of some of the technologies I frequently rock and feel pretty comfortable with.
      Keep in mind that the list might not be completely up to date because I'm always looking for new knowledge on
      <b>Udemy</b>. It's my go-to spot to constantly leveling up my skills and staying ahead.
    </p>
    <div class="row g-3" data-aos="fade-up">

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-angularjs-plain"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-bootstrap-plain"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-css3-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-express-original-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-firebase-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-git-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-github-original-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-handlebars-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-html5-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-java-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-javascript-plain"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-jquery-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-mongodb-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-mysql-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-nodejs-plain"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-sass-original"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="tech-card">
          <i class="devicon-typescript-plain"></i>
        </div>
      </div>

    </div>
  </div>

  <div class="custom-shape-divider-bottom-1686075032">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>

</section>