<section>

  <div class="spacer layer1"></div>

  <div class="container">
    <h1 class="section-title" data-aos="fade-up">About me</h1>

    <div class="about-me-container">

      <p data-aos="fade-up">
        Back when 12 or 13 years old I used to play video game, that when I started making <a
          href="https://www.autoitscript.com/site/">AutoIt</a> scripts thats would make my character play on its own
        while I was playing outside. Fast forward a few years, and I got my hands on my very first Android cellphone. I
        seized the opportunity to expand my skills further. I embarked on a journey to learn Java and Android SDK,
        enabling me to create mobile applications. It wasn't long before I realized that my passion for coding was real,
        leading me to pursue studies in computer
        science.
        <br><br>
        Once I wrapped up school, I jumped right into the tech world as an IT technician. My days were filled with
        developing apps and scripts to automate all sorts of daily tasks for different teams. I
        always had a <b>huge interest for UI</b>, and Windows forms started to get limited by what I could do.
        That's when I decided to roll up my sleeves and learn Angular. With Angular, I could unleash my creativity using
        CSS and frameworks like Bootstrap to take my app UI to the next level.
        <br><br>
        I had a blast working with Angular and building online apps, so I decided to dive headfirst into online courses
        to level up my web development skills. Eventually, I made the leap and switched jobs to become a web developer.
        But hey, life isn't all about coding! When I'm not glued to my computer, you'll find me out
        hiking, hitting the gym, or just hanging out with my friends.
      </p>

      <div class="avatar-container">
        <img src="../../assets/images/sam_resize.png" alt="Avatar" class="avatar">
      </div>
    </div>

  </div>

  <div class="custom-shape-divider-bottom-1686091629">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>

</section>