section {
  padding-top: 75px;
  padding-bottom: 125px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 750px;
}

input {
  padding: 15px;
}

textarea {
  height: 175px !important;
}

button {
  color: #14202B;
  background-color: #FCF9F5;
  border-color: #14202B;
  padding: 10px 95px;
}

button:hover {
  color: #14202B;
  background-color: #EBD7BD;
  border-color: #14202B;
}
