<section id="work">

  <div class="container">
    <h1 class="section-title" data-aos="fade-up">My work</h1>
    <div class="row">

      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">
        <span class="work-title">Devine la toune</span>

        <p class="work-description">Devine la toune is inspired by the board game <b>Devine the sogne</b> where
          players draw cards and read the
          lyrics to the others players. The lyrics are translated from English to
          French, so players have to translate the lyrics back to the original language to find the song. The idea
          behind Devine la toune is to keep up to date with new songs. It use <b>Musixmatch API</b> to get the most
          popular
          song of the moment and <b>Google Cloud Translation API</b> to translate the lyrics. I'm currently working
          with the Spotify API to add a new feature where user can import their own playlist.</p>

        <img src="../../assets/images/devineLaToune.png" alt="Project" class="work-screenshot">

        <ul>
          <li class="tech-tag">Angular</li>
          <li class="tech-tag">TypeScript</li>
          <li class="tech-tag">JavaScript</li>
          <li class="tech-tag">CSS</li>
          <li class="tech-tag">Bootstrap</li>
          <li class="tech-tag">NodeJS</li>
          <li class="tech-tag">REST API</li>
        </ul>

      </div>

      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">
        <span class="work-title">Jo'Bakery</span>

        <p class="work-description">Jo'Bakery is a website I made for a good friend of mine who started a small
          bakery. The website is designed to showcase products and provide a user friendly browsing experience.</p>

        <img src="../../assets/images/joBakery.png" alt="Project" class="work-screenshot">

        <ul>
          <li class="tech-tag">Angular</li>
          <li class="tech-tag">TypeScript</li>
          <li class="tech-tag">JavaScript</li>
          <li class="tech-tag">CSS</li>
          <li class="tech-tag">Bootstrap</li>
        </ul>

      </div>

    </div>
  </div>

</section>