<section id="work">

  <div class="container">
    <h1 class="section-title" data-aos="fade-up">My work</h1>
    <div class="row">

      <!-- Evolu Gym -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://evolugym-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">EvoluGym</span>

          <p class="work-description">EvoluGym is a nice gym in Québec that why they should have a nice website too.</p>

          <img src="../../assets/images/evolugym.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">React</li>
            <li class="tech-tag">TypeScript</li>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

      <!-- Boulcnagerie chez Jo -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://boulangerie-chez-jo-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">Boulangerie chez Jo</span>

          <p class="work-description">Boulangerie chez Jo is a website I made for a good friend of mine who started a
            small
            bakery. The website is designed to showcase products and provide a user friendly browsing experience.</p>

          <img src="../../assets/images/boulangerieChezJo.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">React</li>
            <li class="tech-tag">TypeScript</li>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

      <!-- Shortly -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://shortly-website-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">Shortly</span>

          <p class="work-description">Design using TailwindCSS.</p>

          <img src="../../assets/images/shortly.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">HTML</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

      <!-- Fylo -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://fylo-website-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">Fylo</span>

          <p class="work-description">Design using TailwindCSS.</p>

          <img src="../../assets/images/fylo.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">HTML</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

      <!-- Bookmark -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://bookmark-website-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">Bookmark</span>

          <p class="work-description">Design using TailwindCSS.</p>

          <img src="../../assets/images/bookmark.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">HTML</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

      <!-- Loop Studios -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://loopstudios-website-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">Loop Studios</span>

          <p class="work-description">Design using TailwindCSS.</p>

          <img src="../../assets/images/loopStudios.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">HTML</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

      <!-- Clipboard -->
      <div class="col-lg-6 col-md-12 col-12 work-container" data-aos="fade-up">

        <a href="https://clipboard-website-sammoisan.vercel.app/" class="text-decoration-none text-reset">

          <span class="work-title">Clipboard</span>

          <p class="work-description">Design using TailwindCSS.</p>

          <img src="../../assets/images/clipboard.png" alt="Project" class="work-screenshot">

          <ul>
            <li class="tech-tag">JavaScript</li>
            <li class="tech-tag">HTML</li>
            <li class="tech-tag">CSS</li>
            <li class="tech-tag">TailwindCSS</li>
          </ul>

        </a>

      </div>

    </div>
  </div>

</section>